{% extends "layout.html" %}
  
{% block content %}
	
  <h2 style="padding-top:31.4px;">About</h2>
  <p>This is the submission from Team 7.3 (formed by Victor Adell, Aleix Bone, Jan Olivetti) for HackUPC Fall 2017. Our goal with this project is to provide a tool that enables people to travel to more than one place at once without having to worry too much about their wallets. That is because we think that we should abandon the notion that vacations (or any kind of trip, for that matter) should be reserved to one specific purpose and instead we should strive to become as much of a cultured person as we can.</p>
{% endblock %}
