{% extends "layout.html" %}
  
{% block content %}
<div class="alert alert-danger">
  <strong>Error</strong>
  {% if error_code==1 %}
    <p>You have entered a departure date greater than the return date.</p>
  {% elif error_code==2 %}
    <p>You have entered a departure date in the past.</p>
  {% elif error_code==3 %}
    <p>You have entered a travel period longer than 31 days.</p>
  {% elif error_code==4 %}
    <p>You have entered a non-existent or unsupported city.</p>
  {% elif error_code==5 %}
    <p>There are no routes matching your criteria.</p>
  {% elif error_code==6 %}
    <p>You have entered a non-existent or unsupported country.</p>
  {% elif error_code==7 %}
    <p>You have entered a destination but not how many days you intend to stay there.</p>
  {% elif error_code==8 %}
    <p>You have entered how many days you intend to stay in a destination but not the destination itself.</p>
    
  {% endif %}
</div>
{% endblock %}
