{% extends "layout.html" %}
  
{% block content %}
<div class="alert alert-danger">
  <strong>Error</strong>
  {% if error_code==1 %}
    <p>You have entered a departure date greater than the return date.</p>
  {% elif error_code==2 %}
    <p>You have entered a departure date in the past.</p>
  {% elif error_code==3 %}
    <p>You have entered a travel period longer than 31 days.</p>
  {% elif error_code==4 %}
    <p>You have entered a non-existent or unsupported city.</p>
  {% elif error_code==5 %}
    <p>There are no routes matching your criteria.</p>
  {% elif error_code==6 %}
    <p>BIENE!</p>
  {% endif %}
</div>
{% endblock %}
