<script>
  function initMap() {
    var uluru = {lat: -25.363, lng: 131.044};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 4,
      center: uluru
    });
    var marker = new google.maps.Marker({
      position: uluru,
      map: map
    });
  }
</script>
<script async defer
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBRQ_KloMq8MF3mwQkln0LpAOD60Vvo7zs&callback=initMap">
</script>
    
    <!-- AIzaSyBRQ_KloMq8MF3mwQkln0LpAOD60Vvo7zs  -->